:root{
    --main-color:linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Source Serif Pro', serif;
}
header{
    text-align: center;
    background-image:var(--main-color);
    padding: 1rem;
    position: sticky;
}
html{
    scroll-behavior: smooth;
}
.menu{
    background-color: aquamarine;
    transition: transform .3s ease;
    transform:translate(-100%,0)/*hide*/
}
.show-menu{
    transform: translate(0,0);
}
.hide{
    position:absolute;
    left: 0.7%;
    visibility: hidden;
}
.show-close{
    visibility: visible;
}
.hideBar{
    visibility: hidden;
}
.section{
    padding: 5%;
}
