.menu-hamburguesa{
    background-color: aquamarine;
    transition: transform .3s ease;
    transform:translate(-100%,0)/*hide*/
}
.show-menu{
    transform: translate(0,0);
}
.hide{
    position:absolute;
    left: 0.7%;
    visibility: hidden;
}
.show-close{
    visibility: visible;
}
.hideBar{
    visibility: hidden;
}
html{
    scroll-behavior: smooth;
}
.section{
    padding: 5%;
}
